{% extends 'base.html' %}

{% block content %}


<h2 class="w3-panel w3-center w3-border w3-leftbar w3-rightbar w3-border-green">Today's Cryptocurrency Prices by Market Cap</h2>
<table class="w3-center table table-success table-bordered table-hover">

<tr>
      <th scope="col">Coin</th>
      <th scope="col">Price</th>
      <th scope="col">24h High</th>
      <th scope="col">24h Low</th>
      <th scope="col">Market Cap</th>
	  <th scope="col">Circulating Supply</th>
    </tr>
  </thead>
 <tbody>



{% for key, value in price.DISPLAY.items %}

		<tr>
	      <td>{{ key }}</td>
	      <td>{{ value.USD.PRICE }}</td>
	      <td>{{ value.USD.HIGHDAY }}</td>
	      <td>{{ value.USD.LOWDAY }}</td>
	      <td>{{ value.USD.MKTCAP }}</td>
		  <td>{{ value.USD.SUPPLY }}</td>
    </tr>
  {% endfor %}
  
  </tbody>
</table>


{% endblock content %}