{% extends 'base.html' %}

{% block content %}

<div class=" w3-container" style="margin-bottom:0">
<h1 class="w3-panel w3-card-4 w3-center w3-highway-green">Today's Cryptocurrency Prices by Market Cap</h1>
</div>
<br/>

<table class="table table-bordered table-hover table-striped table-dark">

  <tr>
      <th scope="col">Coin</th>
      <th scope="col">Price</th>
      <th scope="col">24h High</th>
      <th scope="col">24h Low</th>
      <th scope="col">Market Cap</th>
	  <th scope="col">Circulating Supply</th>
    </tr>
  </thead>
 <tbody>



{% for key, value in price.DISPLAY.items %}

		<tr>
	      <td>{{ key }}</td>
	      <td>{{ value.USD.PRICE }}</td>
	      <td>{{ value.USD.HIGHDAY }}</td>
	      <td>{{ value.USD.LOWDAY }}</td>
	      <td>{{ value.USD.MKTCAP }}</td>
		  <td>{{ value.USD.SUPPLY }}</td>
    </tr>
  {% endfor %}
  
  </tbody>
</table>


{% endblock content %}