{% extends 'base.html' %}

{% block content %}

<h2>Top 100 Coins</h2>

<table class="table table-primary table-striped">

<tr class="table-success">
      <th scope="col"><h2>Name</h2></th>
      <th scope="col"><h2>Price</h2></th>
      <th scope="col"><h2>24h High</h2></th>
      <th scope="col"><h2>24h Low</h2></th>
</tr>
  </thead>
 <tbody>
   
{% for key, value in price.DISPLAY.items %}

		<tr>
	      <td>{{ key }}</td>
	      <td>{{ value.USD.PRICE }}</td>
	      <td>{{ value.USD.HIGHDAY }}</td>
	      <td>{{ value.USD.LOWDAY }}</td>
    </tr>
  {% endfor %}
  
  </tbody>
</div>
</table>


{% endblock content %}