{% extends 'base.html' %}

{% block content %}

<h2 class="w3-container w3-black w3-center">Current Market News</h2>
{% for x in api.Data %}
<body>
	<div class="w3-container">
	<div class="w3-card-4" style="width:50%">
		<header class="w3-container w3-black">
		  <h3>{{ x.title }}</h3>
		</header>
		<div class="w3-container">
		  <br>
		  <img src="{{ x.imageurl }}" alt="{{ x.source }}" class="w3-left w3-circle w3-margin-right" style="width:60px">
		   <p>{{ x.body }}</p><br>
		</div>
		<button class="btn w3-block"><a href="{{ x.url }}" class="btn btn-success">Read More</a></button>
		
	  </div>
	</div>
	
	</body>
	<br><br>
	{% endfor %}

	{% endblock content %}