{% extends 'base.html' %}

{% block content %}


<div class="w3-container">
	{% for x in api.Data %}
		<div class="w3-panel w3-center w3-leftbar w3-blue">
				<img src="{{ x.imageurl }}" class="panel-img-top" alt="{{ x.source }}">
			  		<div class="panel-body">
					<h5 class="panel-title">{{ x.title }}</h5>
                    <p class="panel-text">{{ x.body }}</p>
			    	<a href= "{{ x.url }}" class="btn btn-dark">Read More</a>
				</div>
				</div>
				
				<br/>

	{% endfor %}

</div>
</div>

{% endblock content %}