{% extends 'base.html' %}

{% block content %}
	
	{% if notfound %}
		{{ notfound }}
	{% else %}
		{% if crypto.Response %}
		<div class="alert alert-danger">sorry, {{ quote }} doesn't exist. Please enter a valid cryptocurrency symbol.</div>
	{% endif %}
	
	{% for key, value in crypto.DISPLAY.items %}

	<div class="card" id = 'call' style="width: 18rem;">
		<div class="card-header alert-success">
			<h2>{{ key }}</h2>
		</div>
		<ul class="list-group list-group-flush">
		  <li class="list-group-item">Price: {{ value.USD.PRICE }}</li>
		  <li class="list-group-item">Day High: {{ value.USD.HIGHDAY }}</li>
		  <li class="list-group-item">Day Low: {{ value.USD.LOWDAY }}</li>
		  <li class="list-group-item">Change 24h: {{ value.USD.CHANGE24HOUR }}</li>
		  <li class="list-group-item">Market Cap: {{ value.USD.MKTCAP }}</li>
		  <li class="list-group-item">Total Supply: {{ value.USD.SUPPLY }}</li>
		</ul>
	  </div>

	{% endfor %}

	{% endif %}
{% endblock content %}