{% extends 'base.html' %}


{% block content %}
	
	{% if notfound %}
		{{ notfound }}
	{% else %}
		{% if crypto.Response %}
		<div class="alert w3-brown">sorry, {{ quote }} doesn't exist. Please enter a valid cryptocurrency symbol.</div>
		{% endif %}

	{% for key, value in crypto.DISPLAY.items %}
   
	<div class="w3-panel w3-center w3-border w3-leftbar w3-rightbar w3-bottombar w3-border-brown">
		<header class="w3-container w3-brown">
			<h3>{{ key }}</h3>
		</header>
			  <strong>Price</strong>: {{ value.USD.PRICE }}<br/>
			  <strong>Day High</strong>: {{ value.USD.HIGHDAY }}<br/>
			  <strong>Day Low</strong>: {{ value.USD.LOWDAY }}<br/>
			  <strong>Change 24h</strong>: {{ value.USD.CHANGE24HOUR }}<br/>
			  <strong>Market Cap</strong>: {{ value.USD.MKTCAP }}<br/>
			  <strong>Total Supply</strong>: {{ value.USD.SUPPLY }}<br/>
			  
	</div>

	{% endfor %}

	{% endif %}

{% endblock content %}